.wrap {

    .btn:focus {
        box-shadow: none;
    }

    .alert {
        padding: 0.5rem 1rem;
    }

    hr {
        margin: 0;
    }
    #spinner, #spinner-remove {
        display: none;
    }
    .collapse {
        .product-content {

        }
    }

}