.wrap {

    .btn:focus {
        box-shadow: none;
    }

    .alert {
        padding: 0.5rem 1rem;
    }

    hr {
        margin: 0;
    }
    #spinner, #spinner-remove {
        display: none;
    }
    .collapse {
        .product-content {

        }
    }

    .modal {
        top: 10%;
    }

    .loading{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    #edit-product-form{
        position: relative;
        z-index: 99;
    }
}