# Created by .ignore support plugin (hsz.mobi)
.idea/
/js/node_modules/
/js/bundle.js.map
/js/bootstrap4/bootstrap.bundle.js.map
/js/bootstrap4/bootstrap.bundle.min.js.map
/css/bootstrap4/bootstrap.css.map
/css/bootstrap4/bootstrap.min.css.map
/css/main.css.map
/css/.sass-cache/
/css/admin.css.map
/js/admin-bundle.js.map
/js/front-page/bundle.js.map
/css/front-page.css.map
/css/products.css.map
/js/taxonomy_and_page_products/bundle.js.map
/css/contacts-page.css.map
/js/contacts-page/bundle.js.map
/css/single-product.css.map
