footer {

    .custom-logo-link {
        img {
            width: 100%;
            padding: 10px;
            height: auto;
        }
    }

    &#footer-top {
        background-color: $black;

        //.row > div {
        //    &:first-child {
        //        border-left: none;
        //    }
        //    border-left: 1px solid $light-gray;
        //}

        li {
            list-style-type: none;
            h2 {
                color: white;
                font-size: 1rem;
                text-transform: uppercase;
                &:after {
                    content: '';
                    margin: 15px 0;
                    display: block;
                    width: 40px;
                    height: 3px;
                    background-color: $dark-gray;
                }
            }
            div {
                color: $gray-300;
                font-size: 0.9rem;
                line-height: 1.8;

                #menu-left-products-menu{
                    a {
                        color: $primary;
                        &:hover {
                            color: $primary-hover;
                            text-decoration: none;
                        }
                    }
                }
                a {
                    color: $primary;
                }
            }
        }
    }

    &#footer-bottom {
        background-color: $dark;
        color: $light-gray;
        font-size: 0.9rem;
    }
}