
#home-page {
    #carouselExampleIndicators {
        margin-top: -70px;

        .carousel-item::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }

        .carousel-caption {
            min-height: 480px;
            padding: 10rem 2rem 4rem 2rem;
            position: relative;
            right: inherit;
            top: inherit;
            bottom: inherit;
            left: inherit;
            text-shadow: 1px 1px 5px $dark-gray;

            h2 {
                font-family: LatoBlack, sans-serif;
                font-size: 3rem;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }

            h3 {
                font-family: LatoBold, sans-serif;
                font-size: 1.8rem;
                margin-bottom: 0.7rem;
            }

            p {
                width: 70%;
                font-size: 1.1rem;
                margin: 0 auto;
                line-height: 1.7;
            }

            .btn-success {
                text-transform: uppercase;
                border-radius: 0;
                border: none;
                padding: 0.6rem 1.5rem;
                background-color: $primary-button;
                text-shadow: none;

                &:hover {
                    background-color: $primary-button-hover;
                }
            }
        }
    }

    #advantages {
        background: linear-gradient(to top, $light, white);

        #advantage-items {

            @include item-N(1);
            @include item-N(2);
            @include item-N(3);
            @include item-N(4);
            @include item-N(5);

            & > .item {
                opacity: 0;
                transform: translate(-200px, 0px);
                @include transition-property(all);
                @include transition-delay(200ms);
                @include transition-timing-function(easeInOutElastic);
            }

            &.animation {
                & > div {
                    opacity: 1.0;
                    transform: translate(0, 0);
                }
            }

        }

        .btn-success {
            text-transform: uppercase;
            border-radius: 0;
            display: block;
            border: none;
            padding: 8px 16px;
            line-height: 1;
            background-color: $primary-button;
            text-shadow: none;
            position: absolute;
            right: 5%;
            opacity: 0;
            top: 5vw;
            max-width: 160px;
            white-space: pre-wrap;
            z-index: 1000;
            @include transition-property(opacity);
            @include transition-duration(1600ms);

            &.animation {
                opacity: 1;
            }

            &.second {
                top: 24vw;
                right: 60%;

                &::before {
                    transform-origin: 0% 50%;
                    top: 50%;
                    left: 99%;
                }
            }

            &:hover {
                text-decoration: none;
                background-color: $primary-button-hover;
                &::before {
                    background-color: $primary-button-hover;
                }
            }

            &::before {
                @include transition-property(background-color);
                @include transition-duration(0.15s);
                @include transition-timing-function(ease-in-out);
                position: absolute;
                top: 50%;
                right: 99%;
                transform-origin: 100% 50%;
                content: '';
                display: block;
                height: 2px;
                background-color: $primary-button;
                width: 100px;
                transform: rotate(-30deg);
            }
        }

        .banner {
            z-index: 1;
            right: 0;
            width: 100%;
            height: auto;
            top: 0;
            opacity: 0;
            @include transition-property(opacity);
            @include transition-delay(200ms);
            @include transition-duration(2000ms);

            &.animation {
                opacity: 1;
            }
        }

        .item {
            z-index: 2;
            h5, p {
                width: 80%;
            }
        }

        h2 {
            margin-bottom: 0;
        }

        h1 {
            color: $gray-300;
            font-family: LatoBold, sans-serif;
            font-size: 1.5rem;
            text-transform: uppercase;
        }

        h5 {
            margin-bottom: 0.25rem;
            color: $primary;
            font-family: LatoBold;
        }
        p {
            font-family: LatoLight, sans-serif;
            color: $dark-gray;
            line-height: 1.2;
            margin-bottom: 0;
        }

        .about {
            margin-left: 15px;
        }
    }

    #products, #advantages, #news {
        h2 {
            font-family: LatoBlack, sans-serif;
            font-size: 3rem;
            color: $gray-300;
            text-transform: uppercase;
        }
    }

    #products {

        background: $light;

        .nav-pills .nav-link {
            color: $dark-gray;

            &:hover {
                color: $primary;
            }

            &.active {
                text-decoration: underline;
                color: $primary;
                background-color: transparent;
            }
        }

        .swiper-button-next {
            right: -4%;
            background-image: none;
            color: $gray;
        }

        .swiper-button-prev {
            left: -4%;
            background-image: none;
            color: $gray;

        }
    }

    #conditions {
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        text-shadow: 1px 1px 5px $dark-gray;

        .container {
            padding: 6rem 0 3rem 0;

            h2 {
                font-family: LatoBlack, sans-serif;
                font-size: 3rem;
            }

            p {
                width: 70%;
                font-size: 1.1rem;
                line-height: 1.7;
            }

            .btn {
                text-transform: uppercase;
                border-radius: 0;
                border: none;
                color: white;
                padding: 0.6rem 1.5rem;
                background-color: $primary-button;
                text-shadow: none;

                &:hover {
                    background-color: $primary-button-hover;
                }
            }
        }
    }

    #news {
        color: $gray;

        h2 {
            font-family: LatoBlack, sans-serif;
        }

        .all-news-button {
            color: $gray;
        }

        h4 {
            margin: 0.8rem 0;

            a {
                color: $primary;
                &:hover {
                    color: $primary-hover;
                    text-decoration: none;
                }
            }
        }

        p {
            line-height: 1.4;
        }
        .container::after {
            content: '';
            display: block;
            height: 2px;
            margin-bottom: 2rem;
            background-color: $light-gray;
        }
    }

    #contacts {

        h2 {
            color: $gray;
            font-size: 1.5rem;
            font-family: LatoBold, sans-serif;
        }

        #gmap_canvas {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
}

@media (max-width: 768px) {

    #home-page #carouselExampleIndicators .carousel-caption h2,
    #home-page #conditions .container h2,
    #home-page #advantages h2,
    #home-page #products h2,
    #home-page #news h2 {
        font-size: 2rem;
    }

    #home-page #products h2 {
        padding-top: 0 !important;
    }

    #home-page #conditions .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #home-page #carouselExampleIndicators .carousel-caption {
        min-height: 330px;
        padding: 8rem 2rem 0rem 2rem;
    }

    #home-page #news h4 {
        font-size: 1.2rem;
    }

    #home-page {
        #advantages {
            .btn-success.second {
                top: 80%;
                right: 55%;
            }
        }
    }

    #conditions {
        .container {
            padding: 3rem 0 3rem 0 !important;

            p {
                width: 90% !important;
                margin-bottom: 1rem !important;
            }

        }
    }
}

@media (max-width: 575px) {
    #home-page #news .new {
        background-color: $light-gray;
        padding-left: 0;

        h4 {
            margin: 0;
            padding-left: 0;
        }
    }
}