.pagination {
    justify-content: center;
    margin: 3rem 0;

    .screen-reader-text {
        display: none;
    }

    a {
        color: $primary;
    }

    .page-numbers{
        padding: 0.5rem 1rem;
        margin: 0.25rem;
        border: 1px solid $gray;
        border-radius: 4px;
    }
}

