h1 {
    font-size: 2rem;
    color: $dark-gray;
    font-family: LatoBold, sans-serif;
}

#products {
    background-color: $light-gray;
    color: $gray;

    .sorted {
        label {
            line-height: 1.4;
        }
    }

    h6 {
        color: $dark-gray;
    }
    .price {
        span {
            font-size: 1.1rem;
            font-family: LatoBlack, sans-serif;
            color: $primary;
        }
    }

    .product-description {
        strong {
            font-family: LatoBold, sans-serif;
            color: $dark-gray;
        }
    }

    #left-products-menu {
        background-color: white;
        border: 1px solid $gray-300;
        padding: 0.5rem 1rem;
        @include transition-property(opacity);
        @include transition-duration(200ms);

        li {
            border-bottom: 1px solid $light-gray;
            padding: 0.5rem 0;

            a {
                white-space: nowrap;
                font-family: LatoRegular, sans-serif;
                font-weight: 300;
                color: $dark-gray;
            }

            &.current-menu-item a {
                color: $primary;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    #product-filter {
        color: $dark-gray;
        font-family: LatoRegular, sans-serif;
        .form-check-input:disabled ~ .form-check-label {
            color: $gray;
        }
    }

    .product {
        .card {
            color: $gray;

            .card-body {
                min-height: 170px;
            }

            &:hover {
                text-decoration: none;
                .card-footer div {
                    color: $primary;
                    text-decoration: underline;
                }
            }

            img {
                &:hover {
                    transform: scale(1.4) rotate(8deg);
                }
                @include transition-property(all);
                @include transition-duration(400ms);
            }

            .img-wrap {
                overflow: hidden;
            }

            .card-title {
                color: $dark-gray;
            }
            .price {
                font-size: 0.8rem;
                span {
                    font-size: 1rem;
                    font-family: LatoBold, sans-serif;
                    color: $primary;
                }
            }

            .card-footer {
                background-color: transparent;
                border-top: none;

                a {
                    background-color: $primary-button;
                    color: white;
                    border-radius: 0;
                    padding: 0.25rem 2rem;
                    margin-bottom: 0.5rem;
                    @include transition-property(all);
                    @include transition-duration(300ms);

                    &:hover {
                        background-color: $primary-button-hover;
                    }
                }
            }

        }
    }
}