.taxonomies {
    margin-bottom: 1.5rem;
    display: flex;

    .taxonomy{
        color: $dark-gray;
        margin-right: 1rem;
        cursor: pointer;

        &:hover, &.active{
            color: $primary;
            text-decoration: underline;
        }
    }
}