.taxonomies {
    margin-bottom: 1.5rem;
    display: flex;

    .taxonomy{
        color: $dark-gray;
        margin-right: 2rem;
        font-size: 0.8rem;
        max-width: 70px;
        cursor: pointer;
        text-transform: uppercase;

        &:hover, &.active{
            color: $primary;
            text-decoration: underline;
        }
    }
}